.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.health-bar-outside {
  width: 140px;
  height: 10px;
  position: relative;
  background: #555;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 25px;
  padding: 5px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.combatant-health-bar-current {
  display: block;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.monster-health-bar-current {
  display: block;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(241, 74, 44);
  background-image: linear-gradient(
    center bottom,
    rgb(194, 61, 43) 37%,
    rgb(240, 94, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.combat-render {
  display: flex;
  flex-direction: column;
}
.combat-render-buttons {
  display: flex;
  flex-direction: row;
}

.combat-monster-container {
  text-align: center;
  font-weight: 600;
  max-width: 150px;
}

.combat-container {
  text-align: center;
  font-weight: 600;
  max-width: 150px;
}

.combat-avatar {
  height: 150px;
  width: 150px;
  background-size: 150px;
}

/* COMBATANT LIST CONTAINER */

.combatant-list-container {
  display: flex;
  left: margin;
}
